@charset "utf-8";
/* ------- Layout Classes ------- */





/* ------- IDCMS Classes ------- */
/* Comment Avatars */
.IDCMS_css_avatar{
	border:1px solid #CCC;
	width:70px;
	height:70px;
}

/* Alert Messages */
.IDCMS_css_alertSuccess{
	color: #3a87ad;
	background-color: #d9edf7;
	border:1px solid #bce8f1;
	padding: 8px 14px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.IDCMS_css_alertError{
	color: #b94a48;
	background-color: #f2dede;
	border:1px solid #eed3d7;
	padding: 8px 14px 8px 14px;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/* Social Media Links */
.IDCMS_css_iconFB{
	background-position:0 0;
}
.IDCMS_css_iconFB:hover{
	background-position:0 -24px;
}
.IDCMS_css_iconGP{
	background-position:-24px 0;
}
.IDCMS_css_iconGP:hover{
	background-position:-24px -24px;
}
.IDCMS_css_iconTW{
	background-position:-48px 0;
}
.IDCMS_css_iconTW:hover{
	background-position:-48px -24px;
}
.IDCMS_css_iconPN{
	background-position:-72px 0;
}
.IDCMS_css_iconPN:hover{
	background-position:-72px -24px;
}
.IDCMS_css_iconFB, .IDCMS_css_iconGP, .IDCMS_css_iconTW, .IDCMS_css_iconPN{
	display:block;
	width:24px;
	height:24px;
	background-image:url(../img/socialIcon.png);
}